<div id="flbox">
<!--  <div class="box-button">依頼フォーム</div>-->
  <%= link_to "create wiki", "/form-request", class: "box-button" %>
  <%= link_to "search wiki", "/request-get", class:"box-button" %>
</div>
