<div id="main-contents">
  <div class="fl-box side">
    <div id="new-note" onclick="onClickNewNote"><%= image_tag "note.png" ,class: "note-png" %>新規ノートの作成</div>

    <div class="note-list">
      <div class="note-label">自分のノート▼</div>
      <ul>
        <li>My Note</li>
        <li>Your Note</li>
      </ul>
    </div>

  </div>
  <div class="fl-box note">

  </div>
  <div class="fl-box edit">

  </div>
</div>