// Place all the styles related to the formrequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form1 {
  width: 1200px;
  margin: 20px auto;
  .label {
    width: 400px;
    margin-top: 10px;
  }
  .input-box {
    .input {
      width: 450px;
      height: 35px;
    }
    .select-box {
      width: 450px;
      height: 35px;
    }
    .area {
      width: 550px;
      height: 150px;
    }
    .submit {
      width: 150px;
      height: 35px;
      background: #5a8fed;
      color: #ffffff;
      margin-top: 10px;
    }
  }
}